---
layout: page
---
<article class="post">

  <div class="post-content">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <h1>
          <a  href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h1>
        {%- assign date_format = site.minima.date_format | default: "%b, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

  </div>

</article>
